{{ define "main" }}

<article
   class="article">
   <h1 class="text-emerald-500">About Me</h1>
   <hr/>
   <div>{{ .Content }}</div>
   <hr />
   <section>
      <p class="border-none text-3xl font-bold my-4 text-center text-emerald-500">Technologies I'm working with :</p>
      <div class="flex flex-wrap justify-center md:w-11/12 w-full mx-auto">
         {{ range .Site.Data.technologies }}
         <a
            href="{{ .web }}"
            class="z-20 cursor-pointer transition-all duration-100 ease-linear hover:scale-105 flex flex-col justify-end border border-gray-300 dark:border-gray-700 shadow-md rounded-xl text-center w-[124px] m-[15px]"
            title="{{ .name }}"
            target="_blank"
            >
            <span class="p-3 flex justify-center">
               <img src="{{ .image }}" alt="{{ .name }}" width="55" />
            </span>
            <strong class="mb-3">{{ .name }}</strong>
         </a>
         {{ end }}
      </div>
  </section>
</article>

{{ end }}
