{{ define "main" }}

<section>
  <h1 class="text-emerald-500">{{ .Title }}</h1>
  <hr/>
  <p>
    My journey in writing format was here. I write more about programming and any
    other technologies and mostly with Indonesian language 🇮🇩. Enjoy reading 😉.
  </p>
  <div class="flex flex-col my-3 space-y-3">
    {{ range (.Site.RegularPages.GroupByDate "2006") }}
    <div class="flex flex-col mt-1 mb-2 space-y-2">

      <div class="flex flex-row justify-center items-center py-1.5 mx-auto mb-2 space-x-2 w-fit px-5 text-emerald-500 rounded-lg border-2 border-emerald-500 cursor-pointer bg-emerald-500/10 dark:bg-emerald-500/20 dark:border-emerald-500">
        <svg
          width="26"
          height="26"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
          ></path>
        </svg>
        <span class="text-xl font-bold">year:{{ .Key }}</span>
      </div>
  
      <div class="flex-col space-y-3 font-medium w-fullcflex">

        {{ range where .Pages "Section" "blog"}}

        <a
          href="{{.Permalink}}"
          class="flex flex-col px-4 py-2 rounded-xl border border-gray-300 shadow-md cursor-pointer group hover:bg-emerald-500/10 hover:border-emerald-500 dark:hover:border-emerald-500 dark:border-gray-700">

          <div class="flex flex-row justify-between text-[13px] mb-1.5 group-hover:text-gray-700 dark:group-hover:text-gray-300 text-emerald-600 dark:text-emerald-500">

            <time>{{.Date.Format "January 02"}}</time>

            <div class="flex flex-row content-center items-center">
              <time datetime="{{.Date}}" title='Posted on {{.Date.Format " January 02, 2006 - 3:04 PM"}}'>{{.Date.Format
                "3:04 PM"}}</time>
              <span class="ml-2 w-px h-3 bg-gray-400"></span>
              <div
                class="flex flex-row items-center ml-2"
                title='
                  {{ if (eq .Params.lang "en") }}
                    English
                  {{ else }}
                    Bahasa Indonesia
                  {{ end }}'
                >
                <svg 
                  width="13"
                  height="13"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="2" y1="12" x2="22" y2="12"></line>
                  <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                </svg>
                <span class="ml-1.5 uppercase">{{ if .Params.lang }}{{ .Params.lang }}{{ end }}</span>
              </div>
            </div>

          </div>

          <p class="group-hover:text-emerald-500">
            {{.Title}}
          </p>

        </a>
        {{ end }}

      </div>
    </div>
    {{ end }}
  
  </div>

</section>

{{ end }}
