{{ define "main" }}

<article class="article">
  <h1 class="text-emerald-500">{{ .Title }}</h1>
  <hr />
  <div>{{ .Content }}</div>
  <blockquote>
    Don't be a Programmer, be a Problem Solver
  </blockquote>
  <hr />
  <div
    class="flex flex-row flex-wrap justify-center items-stretch content-stretch"
  >
    {{ range .Site.Data.projects }}
    <figure
      class="flex flex-col justify-between px-5 py-5 mb-3 w-full h-auto rounded-xl border border-gray-300 shadow-md sm:w-5/12 flex-no-wrap dark:border-gray-700 md:px-10 md:py-8 md:m-3"
    >
      <div class="flex flex-col mb-5 space-y-2">
        <figcaption
          class="font-bold text-lg pb-2 mb-2 border-b-[2px] border-emerald-500 border-dashed"
        >
          {{ .name }}
        </figcaption>
        <p>{{ .description }}</p>
      </div>
      <div
        class="flex flex-row justify-end content-center items-center space-x-2 font-medium"
      >
        <a
          class="group cursor-pointer text-sm py-1.5 px-3 border-[2px] shadow border-amber-500 text-amber-500 hover:bg-amber-500/20 hover:border-amber-400 hover:text-amber-400 rounded-xl flex flex-row items-center space-x-1"
          href="{{ .source }}"
          target="_blank"
        >
          <svg
            width="15"
            height="15"
            viewBox="0 0 24 24"
            class="stroke-current fill-none group-hover:fill-amber-500 group-hover:stroke-amber-700"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"/>
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
            />
            <polyline points="3.27 6.96 12 12.01 20.73 6.96" />
            <line x1="12" y1="22.08" x2="12" y2="12" />
          </svg>

          <span>Source</span>
        </a>
        <a
          href="{{ .view }}"
          class="group cursor-pointer text-sm py-1.5 px-3 border-[2px] shadow border-blue-500 text-blue-500 hover:bg-blue-500/20 hover:border-blue-400 hover:text-blue-400 rounded-xl flex flex-row items-center space-x-1"
          target="_blank"
        >
          <svg
            class="stroke-current fill-none group-hover:stroke-blue-700 group-hover:fill-blue-400"
            width="15"
            height="15"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="12" cy="12" r="10" />
            <polygon
              points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"
            />
          </svg>
          <span>View</span>
        </a>
      </div>
    </figure>
    {{ end }}
  </div>
</article>

{{ end }}
