/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-gray-950 {
    background-color: #030712;
  }
}

.bg-gray-950 {
  background-color: #030712 !important;
}

.headings {
  @apply font-bold border-b-[2px] border-dashed border-emerald-500 w-fit my-4;
}

@layer base {
  hr {
    @apply my-6 border-gray-300 dark:border-gray-700;
  }
  h1 {
    @apply mb-5 text-4xl font-bold;
  }
  h2 {
    @apply pb-1 text-3xl headings;
  }
  h3 {
    @apply pb-1 text-2xl headings;
  }
  h4 {
    @apply pb-1 text-xl headings;
  }
  h5 {
    @apply pb-1 text-lg headings;
  }
  h6 {
    @apply pb-1 text-base headings;
  }
  q::before, q::after {
    @apply text-[1.5rem] mx-1;
  }
  q {
    @apply italic;
  }
}

.article {
  @apply leading-8 prose-ul:list-disc prose-ol:list-decimal prose-li:list-inside
  prose-li:marker:text-emerald-500 text-base prose-blockquote:my-3 prose-blockquote:border-l-[6px]
  prose-blockquote:border-l-amber-500 prose-blockquote:rounded-xl prose-blockquote:py-2
  prose-blockquote:px-4 prose-blockquote:bg-amber-400/10 dark:prose-blockquote:bg-amber-400/5 prose-blockquote:w-fit
  prose-blockquote:text-amber-600 dark:prose-blockquote:text-amber-500 prose-blockquote:italic
  prose-pre:py-2 prose-pre:px-4 prose-pre:overflow-x-scroll prose-pre:rounded-xl prose-pre:my-[10px];
}

/* Turbo progress bar */
.turbo-progress-bar {
  @apply h-1 bg-emerald-500;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html.dark::-webkit-scrollbar-track {
  background: #111827;
}

html::-webkit-scrollbar-track {
  background: #FFF;
}

html::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 5px;
}

*::selection {
  background: #10b981;
  color: #ffff;
}

html {
  font-family: "Inter", sans-serif;
}

/* FONT FAMILY */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/webfonts/Inter-Thin0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-Thin0fe5.woff?v=3.12") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("/webfonts/Inter-ThinItalic0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-ThinItalic0fe5.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/webfonts/Inter-ExtraLight0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-ExtraLight0fe5.woff?v=3.12") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/webfonts/Inter-ExtraLightItalic0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-ExtraLightItalic0fe5.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/webfonts/Inter-Light0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-Light0fe5.woff?v=3.12") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/webfonts/Inter-LightItalic0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-LightItalic0fe5.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/webfonts/Inter-Regular0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-Regular0fe5.woff?v=3.12") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/webfonts/Inter-Italic0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-Italic0fe5.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/webfonts/Inter-Medium0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-Medium0fe5.woff?v=3.12") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/webfonts/Inter-MediumItalic0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-MediumItalic0fe5.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/webfonts/Inter-SemiBold0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-SemiBold0fe5.woff?v=3.12") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/webfonts/Inter-SemiBoldItalic0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-SemiBoldItalic0fe5.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/webfonts/Inter-Bold0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-Bold0fe5.woff?v=3.12") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/webfonts/Inter-BoldItalic0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-BoldItalic0fe5.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/webfonts/Inter-ExtraBold0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-ExtraBold0fe5.woff?v=3.12") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/webfonts/Inter-ExtraBoldItalic0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-ExtraBoldItalic0fe5.woff?v=3.12") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/webfonts/Inter-Black0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-Black0fe5.woff?v=3.12") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/webfonts/Inter-BlackItalic0fe5.woff2?v=3.12") format("woff2"),
    url("/webfonts/Inter-BlackItalic0fe5.woff?v=3.12") format("woff");
}

.body {
  @apply text-gray-700 dark:bg-gray-950 dark:text-gray-300;
}

.main {
  @apply w-11/12 md:w-8/12 mx-auto mt-24 mb-8 min-h-[83vh];
}

.navbar {
  @apply fixed inset-0 z-40 w-screen h-16 bg-gray-900 border-b border-gray-700 dark:bg-opacity-75 dark:backdrop-blur;
}

.navbarDesktop {
  @apply flex flex-row justify-between content-center items-center mx-auto space-x-4 w-11/12 h-full md:w-10/12;
}

.navSeparator {
  @apply hidden w-px h-6 bg-gray-400 md:flex;
}

.navList {
  @apply hidden justify-between items-center w-full md:flex;
}

.navListMenu {
  @apply flex flex-row space-x-8 text-base font-medium list-none text-gray-300;
}

.navMenuBtn {
  @apply inline-flex flex-row items-center space-x-1.5 hover:text-emerald-400;
}

.main-title-text {
  @apply pt-3 !mb-2 md:!mb-4 leading-tight text-4xl font-bold;
}

.main-title-text span {
  @apply text-4xl font-bold;
}


@keyframes glow {
	100% {
    color: #064e3b;
  }
	0%  {
		color: #374151; 
	}
}

@keyframes glowDark {
	100% {
    color: #d1fae5;
  }
	0%  {
		color: #d1d5db; 
	}
}

.glow {
  @apply text-gray-700;
  opacity: 1 !important;
  animation: glow 2.5s ease-in-out infinite alternate;
}

.dark .glow {
  @apply text-gray-300;
  opacity: 1 !important;
  animation: glowDark 2.5s ease-in-out infinite alternate;
}