<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"
></script>

<script type="text/javascript">
  let sendIcon = document.getElementById("sendIcon");
  let loadingIcon = document.getElementById("loadingIcon");
  let sendEmailBtn = document.getElementById("sendEmailBtn");

  (function () {
    sendIcon.style.display = "block";
    loadingIcon.style.display = "none";
    emailjs.init("user_YZqd2C9w9VfIre9jaUg08");
  })();

  // listen to the form submission
  document
    .getElementById("myForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      sendEmailBtn.disabled = true;
      sendIcon.style.display = "none";
      loadingIcon.style.display = "block";
      const serviceID = "service_sdscf8n";
      const templateID = "template_3jsgec3";

      // send the email here
      emailjs.sendForm(serviceID, templateID, this).then(
        (response) => {
          sendEmailBtn.disabled = false;
          sendIcon.style.display = "block";
          loadingIcon.style.display = "none";
          alert("Email sent 😎️👌️, now wait for further response from me");
        },
        (error) => {
          sendEmailBtn.disabled = false;
          sendIcon.style.display = "block";
          loadingIcon.style.display = "none";
          alert("Failed to send Email, you're dumb 💩️");
        }
      );
    });
</script>