<header
  class="h-16 bg-gray-900 fixed w-screen inset-0 border-b border-gray-700 text-gray-300"
>
  <div
    class="w-11/12 md:w-10/12 mx-auto flex flex-row content-center items-center space-x-4 content-stretch h-full justify-between"
  >
    <a href="{{ .Site.BaseURL }}">
      <!--<svg
        class="w-10 group"
        viewBox="0 0 297 280"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          class="fill-none stroke-emerald-500 group-hover:fill-gray-300/10"
          x="10"
          y="10"
          width="277"
          height="260"
          rx="70"
          stroke-width="20"
        />
        <path
          class="fill-emerald-400"
          d="M142.958 115.621C146.091 110.611 153.389 110.611 156.523 115.621L175.858 146.535C179.191 151.863 175.36 158.777 169.076 158.777H130.405C124.12 158.777 120.29 151.863 123.622 146.535L142.958 115.621Z"
        />
        <path
          class="fill-emerald-400"
          d="M77.7402 76.7772C77.7402 68.493 84.456 61.7772 92.7402 61.7772V61.7772C101.025 61.7772 107.74 68.493 107.74 76.7772V202.777C107.74 211.061 101.025 217.777 92.7402 217.777V217.777C84.456 217.777 77.7402 211.061 77.7402 202.777V76.7772Z"
        />
        <path
          class="fill-emerald-400"
          d="M192.74 76.7772C192.74 68.493 199.456 61.7772 207.74 61.7772V61.7772C216.025 61.7772 222.74 68.493 222.74 76.7772V202.777C222.74 211.061 216.025 217.777 207.74 217.777V217.777C199.456 217.777 192.74 211.061 192.74 202.777V76.7772Z"
        />
      </svg>-->
      <svg
        class="w-10 fill-none group"
        viewBox="0 0 309 323"
      >
        <path
          class="stroke-[29px] stroke-emerald-500 group-hover:stroke-emerald-400"
          d="M139.794 19.2706C148.926 14.1351 160.074 14.1351 169.206 19.2706L273.007 77.6486C282.454 82.9618 288.301 92.9579 288.301 103.797V219.203C288.301 230.042 282.454 240.038 273.007 245.351L169.206 303.729C160.074 308.865 148.926 308.865 139.794 303.729L35.9932 245.351C26.5458 240.038 20.6991 230.042 20.6991 219.203V103.797C20.6991 92.9579 26.5458 82.9618 35.9932 77.6486L139.794 19.2706Z"
        />
        <path
          class="fill-emerald-500 group-hover:fill-emerald-400"
          d="M91 47.5C91 39.4919 97.4919 33 105.5 33V33C113.508 33 120 39.4919 120 47.5L120 199.5C120 207.508 113.508 214 105.5 214V214C97.4919 214 91 207.508 91 199.5L91 47.5Z"
        />
        <path
          class="fill-emerald-500 group-hover:fill-emerald-400"
          d="M105.5 176C97.4919 176 91 169.508 91 161.5V161.5C91 153.492 97.4919 147 105.5 147H204.5C212.508 147 219 153.492 219 161.5V161.5C219 169.508 212.508 176 204.5 176H105.5Z"
        />
        <path
          class="fill-emerald-500 group-hover:fill-emerald-400"
          d="M190 124.5C190 116.492 196.492 110 204.5 110V110C212.508 110 219 116.492 219 124.5L219 274.5C219 282.508 212.508 289 204.5 289V289C196.492 289 190 282.508 190 274.5L190 124.5Z"
        />
      </svg>
    </a>
    <span class="w-px bg-gray-400 h-6 md:flex hidden"> </span>
    <nav class="items-center justify-between w-full md:flex hidden">
      <div class="flex flex-row space-x-8 text-base font-medium list-none">
        <a
          class="hover:text-emerald-400 inline-flex flex-row items-center space-x-1.5"
          href="{{ .Site.BaseURL }}"
        >
          <svg
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            ></path>
          </svg>
          <span>Home</span>
        </a>
        <a
          class="hover:text-emerald-400 inline-flex flex-row items-center space-x-1.5"
          href="/about"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
          <span>About</span>
        </a>
        <a
          class="hover:text-emerald-400 inline-flex flex-row items-center space-x-1.5"
          href="/project"
        >
          <svg
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
            ></path>
          </svg>
          <span>Project</span>
        </a>
        <a
          class="hover:text-emerald-400 inline-flex flex-row items-center space-x-1.5"
          href="/contact"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
            ></path>
            <polyline points="22,6 12,13 2,6"></polyline>
          </svg>
          <span>Contact</span>
        </a>
        <a
          class="hover:text-emerald-400 inline-flex flex-row items-center space-x-1.5"
          href="/blog"
        >
          <svg
            width="22"
            height="22"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
            ></path>
          </svg>
          <span>Blog</span>
        </a>
      </div>
      <div class="flex flex-row space-x-4">
        <a
          class="py-1.5 px-3 border-2 border-emerald-600 bg-emerald-500 text-sm flex flex-row items-center hover:bg-emerald-400 rounded-md text-gray-50"
          href="https://saweria.co/ahmadhabibi14"
          title="Buy me a coffee"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
            <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
            <line x1="6" y1="1" x2="6" y2="4"></line>
            <line x1="10" y1="1" x2="10" y2="4"></line>
            <line x1="14" y1="1" x2="14" y2="4"></line>
          </svg>
          <span class="ml-1.5"> Buy me a coffee </span>
        </a>
      </div>
    </nav>

    <!-- BAR when responsive -->
    <label class="flex md:hidden text-2xl text-gray-600 hamburger">
      <img
        src="/icons/menu.svg"
        width="35"
        height="35"
        alt="menu button"
        id="icons"
      />
    </label>
  </div>
</header>
<div
  class="bg-white bg-opacity-75 backdrop-blur top-16 md:hidden flex-col text-center space-y-6 h-full w-full pt-8 px-14 sm:px-32 fixed z-50 text-xl font-medium menu-res hidden"
>
  <a
    class="hover:text-blue-500 inline-flex items-center flex-row space-x-1.5"
    href="{{ .Site.BaseURL }}"
  >
    <svg
      width="21"
      height="21"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
      ></path>
    </svg>
    <span>Home</span>
  </a>
  <a
    class="hover:text-blue-500 inline-flex flex-row items-center space-x-1.5"
    href="/about"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
      <circle cx="12" cy="7" r="4"></circle>
    </svg>
    <span>About</span>
  </a>
  <a
    class="hover:text-blue-500 inline-flex flex-row items-center space-x-1.5"
    href="/project"
  >
    <svg
      width="20"
      height="20"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
      ></path>
    </svg>
    <span>Project</span>
  </a>
  <a
    class="hover:text-blue-500 inline-flex flex-row items-center space-x-1.5"
    href="/contact"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path
        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
      ></path>
      <polyline points="22,6 12,13 2,6"></polyline>
    </svg>
    <span>Contact</span>
  </a>
  <a
    class="hover:text-blue-500 inline-flex flex-row items-center space-x-1.5"
    href="/blog"
  >
    <svg
      width="22"
      height="22"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
      ></path>
    </svg>
    <span>Blog</span>
  </a>
  <a
    class="hover:text-blue-500 inline-flex flex-row items-center space-x-1.5"
    href="https://saweria.co/ahmadhabibi14"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M18 8h1a4 4 0 0 1 0 8h-1"></path>
      <path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path>
      <line x1="6" y1="1" x2="6" y2="4"></line>
      <line x1="10" y1="1" x2="10" y2="4"></line>
      <line x1="14" y1="1" x2="14" y2="4"></line>
    </svg>
    <span>Buy me a coffee</span>
  </a>
  <a
    class="hover:text-blue-500 inline-flex flex-row items-center space-x-1.5"
    href="https://github.com/ahmadhabibi14/personal-web"
    title="Source code"
    target="_blank"
  >
    <svg
      width="20"
      height="20"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
      />
    </svg>
    <span>Source Code</span>
  </a>
</div>
